@import '../../utils/vars.scss';
@import '../../utils/mixins.scss';
@import './post.scss';
@import './form.scss';
@import './customRadio.scss';
@import './fakeUpload.scss';

.legend {
  &_visible {
    display: block;
  }

  &_error {
    color: red;
  }
}

.sent_image {
    width: 100%;
    margin-bottom: 50px;
}

#last_radio {
  margin-bottom: 47px;
}

.error {
  &_input {
    border: 1px solid $error_color;
  }

  &_label {
    color: $error_color;
  }

  &_heading {
    text-align: center;
    color: $error_color;
  }
}
