@import '../../utils/mixins.scss';

.card {
  padding: 20px;
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 20px;
  line-height: 26px;

  &:last-of-type {
    margin-bottom: 50px;
  }

  @include onTablet {
    width: 344px;
    margin-bottom: 29px;

    &:last-of-type {
      margin-bottom: 29px;
    }
  }

  @include onDesktop {
    width: 282px;
    margin-bottom: 29px;

    &:last-of-type {
      margin-bottom: 29px;
    }
  }
  @include onHiResDesktop {
    width: 370px;
    margin-bottom: 29px;

    &:last-of-type {
      margin-bottom: 29px;
    }
  }


  &__photo {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 20px;
    white-space: nowrap;
  }
}
