@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;1,500&display=swap");
@import './utils/vars.scss';
@import './utils/mixins.scss';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.container {
  max-width: 328px;
  margin: 0 auto;

  @include onTablet {
    max-width: 704px;
  }

  @include onDesktop {
    max-width: 904px;
  }

  @include onHiResDesktop {
    max-width: 1170px;
  }
}

.container--full {
  max-width: 100%;

  @include onHiResDesktop {
    max-width: 1170px;
  }
}

.main_content {
  background-color: $main_color_gray;
}

.button {
  width: 100px;
  height: 34px;
  cursor: pointer;

  font-size: $standart_font_size;

  border: none;
  border-radius: 80px;

  background-color: $main_color_yellow;


  &:hover {
    background-color: $secondary_color_yellow;
  }

  &:disabled {
    color: white;
    background-color: $button_disabled;
    cursor: no-drop;
  }
}
